/* блок с фотографиями foto */
.foto {
  box-sizing: border-box;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-auto-rows: 1fr;
  justify-items: center;
  gap: 20px 17px;
  flex: 1 1 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .foto {
  padding-top: 36px;
  }

}
