/* стиль полей ввода формы блока popup */
.popup__input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 10px;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  opacity: .7;
}




