/* стили карточки с фото блока foto */
.foto__cart {
  box-sizing: border-box;
  overflow: hidden;
  width: 282px;
  min-height: 361px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
