/* стили сердечка в карточке фото блока foto */
.foto__like {
  margin: 0;
  padding: 0;
  border: none;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/like-white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: opacity  .3s ease, background-image .3s ease;
  flex: 0 0 auto;
}
.foto__like:hover {
  /* background-image: url('../../../images/like-white.png'); */
  opacity: .5;
}
