/* стили кнопки закрытия блока fullimage */
.fullimage__btn-close {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-image: url('../../../images/Close.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.fullimage__btn-close:hover {
  opacity: .6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .fullimage__btn-close {
    width: 22px;
    height: 22px;
    top: -38px;
    right: 0px;
    background-size: cover;
  }
}
